*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.slideshow-cont{
	width: 370px;
	margin: auto;
	overflow: hidden;

}

.slide-cont{
	display: flex;
	width: 370px;
	height:250px;
}

.buttons {
    border: none;
    color: white;
    padding: 6px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;


}

.button1 {
    background-color: silver;
    transition:0.5s;
}

.button1:hover {
    background-color: gray;
}
.center {
  	margin: 0;
  	position: absolute;
  	left: 50%;
 	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
.slideshow-cont1{
	width: 370px;
	margin: auto;
	overflow: hidden;

}

.slide-cont1{
	display: flex;
	width: 370px;
	height:250px;
}
.slideshow-cont2{
	width: 370px;
	margin: auto;
	overflow: hidden;

}

.slide-cont2{
	display: flex;
	width: 370px;
	height:250px;
}
.slideshow-cont3{
	width: 370px;
	margin: auto;
	overflow: hidden;

}

.slide-cont3{
	display: flex;
	width: 370px;
	height:250px;
}
.slideshow-cont4{
	width: 370px;
	margin: auto;
	overflow: hidden;

}

.slide-cont4{
	display: flex;
	width: 370px;
	height:250px;
}
.slideshow-cont5{
	width: 370px;
	margin: auto;
	overflow: hidden;

}

.slide-cont5{
	display: flex;
	width: 370px;
	height:250px;
}
.slideshow-cont6{
	width: 370px;
	margin: auto;
	overflow: hidden;

}

.slide-cont6{
	display: flex;
	width: 370px;
	height:250px;
}
.slideshow-cont7{
	width: 370px;
	margin: auto;
	overflow: hidden;

}

.slide-cont7{
	display: flex;
	width: 370px;
	height:250px;
}
.slideshow-cont8{
	width: 370px;
	margin: auto;
	overflow: hidden;

}

.slide-cont8{
	display: flex;
	width: 370px;
	height:250px;
}

body {
	background-color: palegoldenrod;

}
h1{
	font-family: sans-serif, serif;
}
p{
	font-family: sans-serif,serif;
}

